<h2>新規投稿</h2>

<%= form_with model: @question, local: true do |form| %>
<%# 質問フォーム %>
  <div class="form-group">
    <%= form.label "【質問】" %>
    <%= form.text_area :title, class: "form-control" %>
  </div>
<%# 詳細フォーム %>
  <div class="form-group">
    <%= form.label "【詳細】" %>
    <%= form.text_area :detail, class: "form-control" %>
  </div>
<%# 送信ボタン %>
  <div>
    <%= form.submit "送信", class: "btn btn-primary btn-block" %>
  </div>
<% end %>


<%# 質問一覧を降順表示 %>
<table>
  <tbody>
    <% @questions.each.with_index(1) do |question, i| %>
      <tr>
        <td>
        <button type="button" class="btn btn-outline-light btn-lg btn-block"><%= link_to question.title, question %></button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>