<body>
  <div class="wrapper">
    <div class="search-area">
      <form>
        <input type="text" id="search-text" placeholder="検索ワードを入力">
      </form>
      <div class="search-result">
        <div class="search-result__hit-num"></div>
        <div id="search-result__list"></div>
      </div>
    </div>
  </div>

<div id="tag_info" data-json="<%= @movies.to_json %>" ></div>


<div class="container">
  <div class="row">
    <%@movies.each.with_index(@movies.offset_value + 1) do |movie,i|%>
      <div class="col-sm-6 col-lg-4 card-columns card-deck" >
        <div class="card " style="width: 25rem;">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%=movie.url%>" allowfullscreen></iframe>
          </div>
          <div class="card-body" style="height: 15rem;">
            <h4 class="card-text">Lv.<%= i %>：<span class="movie_title"><%= movie.title %></span></h4>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @movies %>
  </div>
</div>






